{{!-- Inject index styles  --}}
{{#extend 'stylesheets'}}
<link rel="stylesheet" href="/stylesheets/wip.css">
{{/extend}}

<div id="wip-intro" class="h-100 bg-dark">
    {{!-- Center of screen --}}
    <div class="container h-75 d-flex flex-column align-items-center">
        <div id="wip-title" class="text-monospace text-uppercase mt-auto">
            <i class="fas fa-umbrella-beach"></i>
            Work in progress...
        </div>
        <hr />
        <div class="mt-2 mb-4 text-white-50 text-monospace">
            {{title}} page is not yet there, stay tuned
        </div>
        <button id="wip-home" type="button" class="btn btn-outline-light mb-auto" aria-label="Home">Back to
            home</button>
    </div>
</div>

{{#extend 'scripts'}}
<script src='/javascripts/wip.js'></script>
{{/extend}}