{{!-- Initial screen content --}}
<header id="home-intro" class="h-100">
    <div class="container d-flex flex-column h-100">
        <div class="jumbotron my-auto text-center">
            <h1 id="home-intro-title" class="display-4 text-monospace text-uppercase"><i class="fas fa-layer-group"></i>
                {{title}}
            </h1>
            <p class="lead text-monospace mt-3">Lightweight multi stack powered by Express and friends</p>
            <hr class="mt-4 mb-5">
            <a id="home-intro-friends-btn" class="btn btn-outline-secondary" href="#friends" role="button"><i
                    class="fas fa-user-astronaut"></i>Visit
                my friends</a>
        </div>
    </div>
</header>

{{!-- Content displayed next after header --}}
<main>
    <div id="friends" class="container py-5">
        <div class="row justify-content-around">
            <div id="home-cards" class="card-deck">
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fas fa-server fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">Express</h4>
                        <p class="card-text">Node.js server framework serving API, SSR and SPA</p>
                    </div>
                </div>
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fas fa-database fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">MongoDB</h4>
                        <p class="card-text">NoSql database with Mongoose object model support</p>
                    </div>
                </div>
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fas fa-file-code fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">Handlebars</h4>
                        <p class="card-text">Template engine for server side rendering (SSR)</p>
                    </div>
                </div>
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fab fa-bootstrap fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">Bootstrap</h4>
                        <p class="card-text">Design UI kit with Fontawesome icons</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{!-- Footer --}}
<footer>
</footer>