{{!-- Inject index styles  --}}
{{#extend 'stylesheets'}}
<link rel="stylesheet" href="/stylesheets/index.css">
{{/extend}}

{{!-- Initial screen content --}}
<header id="intro" class="bg-dark" style="height: 600px;">
    {{!-- Center of screen --}}
    <div class="container h-75 d-flex flex-column align-items-center">
        <div id="intro-title" class="text-monospace text-uppercase mt-auto">
            <i class="fas fa-layer-group"></i>
            {{title}}
        </div>
        <hr />
        <div class="mt-2 mb-auto text-white-50 text-monospace">
            Lightweight multi stack powered by Express and friends
        </div>
    </div>
</header>

{{!-- Content displayed next after header --}}
<main>
    <div class="container pt-5">
        <div class="row justify-content-around">
            <div class="card-deck">
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fas fa-server fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">Express</h4>
                        <p class="card-text">Node.js server framework for both frontend and backend</p>
                    </div>
                </div>
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fas fa-database fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">MongoDB</h4>
                        <p class="card-text">NoSql database with Mongoose object model support</p>
                    </div>
                </div>
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fas fa-file-code fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">Handlebars</h4>
                        <p class="card-text">Template engine for static server side rendering</p>
                    </div>
                </div>
                <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                        <i class="fab fa-bootstrap fa-4x text-secondary"></i>
                        <h4 class="card-title pt-3">Bootstrap</h4>
                        <p class="card-text">Design UI kit with Fontawesome icons</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{!-- Footer --}}
{{!-- <footer>
    <h6>Footer</h6>
</footer> --}}