{{#extend 'stylesheets'}}
<link rel='stylesheet' href='/stylesheets/index.css' />
{{/extend}}

<!-- Main Navigation -->
<header>
    <!-- Navbar partial -->
    {{> navbar}}

    <!--Mask-->
    <div id="intro" class="view">

        <div class="mask">

        </div>

    </div>
    <!--/.Mask-->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main>
    <h2>Welcome to {{title}}</h2>
</main>
<!--Main layout-->

<!--Footer-->
<footer>
    <h6>Footer</h6>
</footer>