<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>

  {{!-- Bootstrap styles --}}
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  {{!-- App styles --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />

  {{!-- Routing injected styles --}}
  {{{block "stylesheets"}}}
</head>

<body>
  {{!-- Navbar partial --}}
  {{> navbar}}

  {{!-- Routing content --}}
  {{{body}}}

  {{!-- Bootstrap scripts --}}
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/popper.js/dist/umd/popper.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/@fortawesome/fontawesome-free/js/all.js" data-auto-replace-svg="nest"></script>

  {{!-- Global app scripts --}}
  <script src="/javascripts/common.js"></script>

  {{!-- Routing injected scripts --}}
  {{{block "scripts"}}}
</body>

</html>