#intro {
  background: url('/assets/images/balance-2004425_1920.jpg') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.95;
}

#intro > .container > .jumbotron {
  opacity: 0.9;
}

#intro-title {
  color: darkslateblue;
}

#intro hr {
  width: 100%;
  border-width: 1px;
  border-color: darkslateblue;
  opacity: 0.5;
}

#intro-friends-btn .svg-inline--fa {
  margin-right: 4px;
}

.card-deck > .card {
  border-width: 2px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
.card-deck > .card:hover {
  border-color: darkslateblue;
  transform: scale(1.1);
}
.card-deck > .card:hover .svg-inline--fa {
  color: darkslateblue;
}

.card-deck > .card > .card-body > .card-text {
  color: gray;
}
